.git
.github
.agent
.claude
.cursor
.gemini
.idea
.kiro
.opencode
.qoder
.trae
.vscode
_bmad
_bmad-output
docs
mobile
deployments
**/.DS_Store
**/node_modules
**/target
**/.angular
**/.mvn/wrapper/maven-wrapper.jar.bak
*.md
!**/README.md
land_reg_utils_script.txt
